<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated aitchteeteepie -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="aitchteeteepie.presentation.AitchteeteepieModelWizardID"
            name="%_UI_AitchteeteepieModelWizard_label"
            class="aitchteeteepie.presentation.AitchteeteepieModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AitchteeteepieModelFile.gif">
         <description>%_UI_AitchteeteepieModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated aitchteeteepie -->
      <editor
            id="aitchteeteepie.presentation.AitchteeteepieEditorID"
            name="%_UI_AitchteeteepieEditor_label"
            icon="icons/full/obj16/AitchteeteepieModelFile.gif"
            extensions="aitchteeteepie"
            class="aitchteeteepie.presentation.AitchteeteepieEditor"
            contributorClass="aitchteeteepie.presentation.AitchteeteepieActionBarContributor">
      </editor>
   </extension>

</plugin>
