.metadata
aitchteeteepie.xtext/src-gen/
aitchteeteepie.xtext/xtend-gen/
aitchteeteepie.xtext/ide/src-gen/
aitchteeteepie.xtext/ide/xtend-gen/
aitchteeteepie.xtext/ui/src-gen/
aitchteeteepie.xtext/ui/xtend-gen/
aitchteeteepie.xtext/tests/src-gen/
aitchteeteepie.xtext/tests/xtend-gen/
aitchteeteepie.xtext/ui.tests/src-gen/
aitchteeteepie.xtext/ui.tests/xtend-gen/
